@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$orange: rgb(249, 124, 55);
$font: "Open Sans";
$heading: "Montserrat";
$background: rgb(229, 229, 229);

body,
html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

// ------------------- header -------------------

.header-row {
  display: flex;
  justify-content: center;
}

.header-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-col-left {
  display: flex;
  justify-content: flex-start;
}

.header-col-right {
  display: flex;
  justify-content: flex-end;
}

// .logo {
//   // width: 100%;
// }

.bi-list:hover {
  transition: 0.3s;
  fill: $orange;
}

// .background-image {
//   width: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }

// ------------------- hero -------------------

.hero-image {
  background-image: url("../Images/mother-with-her-little-son-by-solar-panels2.jpg");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-top {
  background: $orange;
  position: absolute;
  top: 33.5%;
  left: 14%;
  width: 570px;
  height: 315px;
  z-index: 99;
}
.hero-image-top-top {
  background: white;
  position: absolute;
  top: 12.8%;
  left: 17.4%;
  width: 560px;
  height: 420px;
  z-index: 100;
  padding: 30px;
  padding-top: 40px;
}

.hero-heading {
  font-family: $heading;
  color: rgb(17, 17, 17);
  font-size: 48px;
  font-weight: 400;
  text-align: left;
}

.hero-text {
  margin-top: 20px;
  font-family: $font;
  font-size: 20px;
  color: rgb(17, 17, 17);
  line-height: 32px;
}
.hero-button {
  background: $orange;
  padding: 22px 59px 22px 59px;
  border: none;
  border-radius: 11px;
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  margin-top: 80px;
}

.hero-button:hover {
  transition: 0.2s;
  background: rgb(46, 46, 46);
}

// ------------------- details -------------------

.details-container {
  background-color: $orange;
  padding: 0;
  padding-top: 60px;
}

.details-row {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  // padding-right: 30px;
  // padding-left: 30px;
  color: white;

  // transform-origin: center;
  // transform-style: preserve-3d;
  // animation: none;
}

.details-heading {
  font-family: $heading;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
.details-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: $font;
  margin-top: 20px;
  margin-bottom: 70px;
}

// @keyframes swing {
//   0% {
//     transform: rotateY(0deg);
//   }
//   50% {
//     transform: rotateY(30deg);
//   }
//   100% {
//     transform: rotateY(0deg);
//   }
// }
// [data-aos="swing"] {
//   animation: swing 1s ease-in-out;
// }

// ------------------- quote -------------------

.quote-container {
  background: $orange;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote-row {
  display: flex;
  justify-content: center;
  // padding-left: 150px;
  // padding-right: 150px;
}

.quote {
  display: flex;
  justify-content: center;
  font-family: $heading;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  color: white;
}

// ------------------- Background image -------------------

.image-container {
  display: flex;
  justify-content: center;
  position: relative;
  // height: 600px;
  background: $orange;
  align-items: center;
  padding-bottom: 100px;

  flex-direction: column;
}
// .image-container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 60%;
//   background: $orange;
// }

// .image-container::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 40%;
//   background: white;
// }

.main-image {
  // position: absolute;
  width: 70%;

  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  // z-index: 1;
  // border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// ------------------- over image background -------------------

.over-image-row {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  justify-content: center;
}

.over-image-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;

  transform: translateY(+150%);
}

.over-image {
  width: 70px !important;
  height: 70px;
  box-shadow: none !important;
}

.over-image-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: rgb(17, 17, 17);
  margin-top: 19px;
  font-family: $heading;
  text-align: center;
}

.over-image-text-second {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: rgb(17, 17, 17);
  font-family: $heading;
  text-align: center;
}


// ------------------- second container -------------------

.second-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $background;
}

.second-row {
  display: flex;
  justify-content: center;
  // padding-left: 150px;
  // padding-right: 150px;
}

.second {
  display: flex;
  justify-content: center;
  font-family: $heading;
  font-size: 45px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  color: rgb(17, 17, 17);
}

// ------------------- imggrow -------------------

.imgrow-container {
  background: $background;
}

.imgrow-row {
  display: flex;
  justify-content: center;
  // padding-left: 150px;
  // padding-right: 150px;
}

.imgrow {
  padding: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}

.imgrow:hover {
  .imgrow-header {
    transition: 0.7s;
    margin-top: 10px;
  }
}

.imgrow img {
  width: 100%;
}

.imgrow-header {
  font-family: $heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  margin-top: 20px;
}

.imgrow-text {
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
}

.imgrow-more {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}

.imgrow-hover:hover {
  .imgrow-line-container {
    .imgrow-line {
      transition: 0.3s;
      background: black;
    }
  }
}

.imgrow-line-container {
  display: flex;
  justify-content: center;
}

.imgrow-line {
  width: 40px;
  background: $orange;
  height: 1px;
}

// ------------------- Third container -------------------

.third-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $background;
}

.third-row {
  display: flex;
  justify-content: center;
  // padding-left: 150px;
  // padding-right: 150px;
}

.third {
  display: flex;
  justify-content: center;
  font-family: $heading;
  font-size: 45px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
  color: rgb(17, 17, 17);
}
.third-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(17, 17, 17);
  margin-top: 15px !important;
  font-family: $font;
  font-size: 16px;
}

// ------------------- services -------------------

.services-image-left {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("../Images/solar-panel-man.webp");
  height: 400px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

// ------------------- services-right -------------------

.services-dis-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 60px 30px 60px !important;
  background: white;
}

.services-dis-right-header {
  font-family: $heading;
  font-weight: 400;
  line-height: 36px;
  color: rgb(17, 17, 17);
  font-size: 30px;
}

.services-dis-right-text {
  font-family: $font;
  font-size: 16px;
  line-height: 25.6px;
  margin-top: 19px;
  text-align: left;
}

.services-dis-right:hover {
  .services-hover {
    transition: 0.6s;
    margin-bottom: 30px;
  }
}

.services-dis-right-line {
  transition: 0.3s;
  background: black;
}

.services-dis-right-more {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  margin-top: 30px;
}

.services-dis-right-line-container {
  display: flex;
  justify-content: flex-start;
}

.services-dis-right-line {
  width: 40px;
  background: $orange;
  height: 1px;
}

.services-dis-right-line:hover {
  transition: 0.3s;
  background: black;
}

.services-image-right {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("../Images/buisness.jpg");
  height: 400px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

// ------------------- services-left -------------------

.services-dis-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 60px 30px 60px !important;
  background: $orange;
}

.services-dis-left:hover {
  .services-hover {
    transition: 0.6s;
    margin-bottom: 30px;
  }
}

.services-dis-left-header {
  font-family: $heading;
  font-weight: 400;
  line-height: 36px;
  color: white;
  font-size: 30px;
}

.services-dis-left-text {
  font-family: $font;
  font-size: 16px;
  line-height: 25.6px;
  margin-top: 19px;
  text-align: left;
  color: white;
}

.services-dis-left-more {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  margin-top: 30px;
  color: white;
}

.services-dis-left-line-container {
  display: flex;
  justify-content: start;
}

.services-dis-left-line {
  width: 40px;
  background: black;
  height: 1px;
}

.services-dis-left-line:hover {
  transition: 0.3s;
  background: white;
}

// ------------------- services-left-two -------------------

.services-image-left-two {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("../Images/1685356629978.jpg");
  height: 400px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}


// ------------------- services-right-two -------------------

.services-dis-right-two {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 60px 30px 60px !important;
  background: black;
  color: white;
}

.services-dis-right-header-two {
  font-family: $heading;
  font-weight: 400;
  line-height: 36px;
  color: white;
  font-size: 30px;
}

.services-dis-right-two:hover {
  .services-hover {
    transition: 0.6s;
    margin-bottom: 30px;
  }
}


// ------------------- panels -------------------

.panels-container {
  background: $background;
  padding-bottom: 60px;
}

.panels-row {
  display: flex;
  justify-content: center;
}

.panels {
  padding: 30px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panels img {
  width: 100%;
}

.panels-over {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: translateY(-50%);
}

.panels-button {
  padding: 10px 30px 10px 30px;
  background: $orange;
  border: none;
  color: white;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  border-radius: 11px;
  margin-top: 19px;
  letter-spacing: 1px;

  &:hover {
    transition: 0.2s;
    background: rgb(46, 46, 46);
  }
}

.panels-text {
  line-height: 21.6px;
  font-weight: 700;
  font-family: $heading;
  font-size: 19px;
  text-align: center;
  color: rgb(17, 17, 17);
}

.panels-button-col {
  display: flex;
  justify-content: center;
}

.panels-button-two {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  // height: 60px;
  // width: 200px;
  padding: 16px 50px 16px 50px;
  border: 2px solid black;
  background: $background;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.panels-button-two:hover {
  transition: 0.3s;
  background: black;
  color: white;
}


// ------------------- corousal -------------------

.corousal-container {
  margin-top: 60px;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-bottom: 400px;
}

.corousal-left-container {
  display: flex;
  height: 100%;
}

.corousal-left {
  padding: 30px 20px 30px 0px;
  padding-right: 0px !important;
  display: flex;
  justify-content: center;
  //  max-width: 100px;
  align-items: flex-start;
  border-right: 13px solid $orange;
  height: 100%;
}

.corousal-middle {
  padding: 30px !important ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.corousal-right {
  // padding: 30px !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.corousal-heading {
  font-family: $heading;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: left;
  color: rgb(17, 17, 17);
}

// .corousal-line{
// width: 10px;
// background-color: $orange;
// height: 100%;
// }
.corousal-text {
  font-family: $font;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(17, 17, 17);
}

.corousal-button {
  background-color: $orange;
  color: white;
  border-radius: 11px;
  padding: 18px 54px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  margin-top: 40px;

  &:hover {
    transition: 0.2s;
    background: rgb(46, 46, 46);
  }
}

.corousal-image {
  width: 90%;
}


// ------------------- middle layout -------------------

.middle-layout-container {
  background: $orange;
}

.middle-layout-row {
  display: flex;
  justify-content: center;
}

.middle-layout {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.middle-layout-header {
  font-family: $heading;
  font-size: 48px;
  font-weight: 400;
  line-height: 52.8px;
  text-align: center;
}

.middle-layout-text {
  font-family: $font;
  line-height: 32px;
  font-size: 20px;
  margin-top: 25px;
  margin-right: 84px;
  margin-left: 84px;
  text-align: center;
}

.middle-layout-button {
  background-color: $orange;
  color: white;
  cursor: pointer;
  border-radius: 11px;
  padding: 21px 50px;
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  margin-top: 28px;

  &:hover {
    transition: 0.2s;
    background: rgb(46, 46, 46);
  }
}


// ------------------- contact form -------------------

.contact-row{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.form-row{
  display: flex;
  justify-content: center;
}
.form-container{
  display: flex;
  justify-content: center;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  
}

.form-header{
  font-weight: 400;
  font-family: $heading;
  color: white;
  font-size: 48px;
  line-height: 52.8px;
  text-align: left;
  margin-bottom: 20px;

}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.input{
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
}
.input-button{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 11px;
  border: 2px solid white;
  background: none;
  font-weight: 700;
  font-family: $font;
  font-size: 16px;
  line-height: 25.6px;

  &:hover {
    transition: 0.2s;
    background: white;
    color: $orange;
  }
}

.faq-wrap{
  background-color: rgb(230, 230, 230);
  padding: 30px;
  color: rgb(17, 17, 17);
  font-family: $font;
  font-size: 16px;
  line-height: 25.6px;
  margin-left: 20px;
}


// ------------------- footer -------------------

.footer{
  background: rgb(51, 51, 51);
  height: 200px;
  padding: 100px;
  
}

// ------------------- accordion -------------------

.accordion-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}
.accordion {
 background: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 100%;
  height: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
  // margin-bottom: 20px;
}

.active, .accordion:hover {
  background-color: white;
  color: $orange;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 12px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


// ------------------- media queries -------------------

@media only screen and (max-width: 1200px) {
  .hero-image-top {
    left: 13.5%;
    top: 38.8%;
    width: 460px;
    height: 315.2px;
  }
  .hero-image-top-top {
    left: 18%;
    width: 490px;
    height: 420px;
    top: 19%;
  }
}
@media only screen and (max-width: 1200px) {
  .main-image {
    width: 85%;
  }
  .panels {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media only screen and (max-width: 990px) {
  .hero-image-top {
    left: 13.5%;
    top: 35.8%;
    width: 400px;
    height: 338.2px;
  }
  .hero-image-top-top {
    left: 19%;
    width: 430px;
    height: 450px;
    top: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-heading {
    font-size: 40px;
  }
  .panels-over {
    padding-left: 50px;
    padding-right: 50px;
  }
  .corousal-image {
    margin-top: 30px;
  }
  .middle-layout-header {
    font-size: 35px;
    line-height: 45.8px;
  }

  .middle-layout-text {
    line-height: 26px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 775px) {
  .over-image-row {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .corousal-image {
    padding-left: 30px !important;
  }
  .middle-layout-text {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 770px) {
  .hero-image-top {
    left: 12.5%;
    top: 22.8%;
    width: 280px;
    height: 430px;
  }
  .hero-image-top-top {
    left: 20%;
    width: 350px;
    height: 440px;
    top: 15%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .hero-heading {
    font-size: 36px;
    line-height: 36.9px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 28.8px;
  }

  .hero-button {
    margin-left: 25px;
  }
  .image-container {
    height: 500px;
  }

  .main-image {
    display: none;
  }

  .imgrow {
    margin-top: 20px !important;
  }
  .services-dis-right:hover {
    .services-hover {
      margin-bottom: 0px;
    }
  }
  .services-dis-right-two:hover {
    .services-hover {
      margin-bottom: 0px;
    }
  }
  .services-dis-left:hover {
    .services-hover {
      margin-bottom: 0px;
    }
  }
  .services-dis-left {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .services-dis-right {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .services-dis-right-two {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .panels img {
    height: 300px;
  }
  .panels-over {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media only screen and (max-width: 750px) {

  .form-row{
    margin-left: 50px !important;
    margin-right: 50px !important; 
  }
  .form-wrap{
    margin-bottom: 50px;
    margin-right:0px ;
  }
  .accordion-wrap{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .form-header{
    font-size: 36px;
    line-height: 46%;
    text-align: center;
  }
}
@media only screen and (max-width: 755px) {
  .corousal-left-container {
    height: auto;
  }
  .corousal-left {
    height: auto;
  }
  .corousal-middle {
    height: auto;
  }
  .middle-layout-button {
    padding: 16px 40px;
    font-size: 16px;

    &:hover {
      transition: 0.2s;
      background: rgb(46, 46, 46);
    }
  }
}
@media only screen and (max-width: 575px) {
  .image-container {
    height: 800px;
  }

  .second,
  .third {
    font-size: 36px;
    line-height: 39.6px;
  }

  .services-dis-right-header-two {
    line-height: 28.8px;
    font-size: 24px;
  }
  .services-dis-right-header {
    line-height: 28.8px;
    font-size: 24px;
  }
  .services-dis-left-header {
    line-height: 28.8px;
    font-size: 24px;
  }
  .corousal-heading {
    font-size: 45px;
    line-height: 49.5px;
  }
}
@media only screen and (max-width: 570px) {
  .hero-image-top {
    left: 18%;
    top: 18.8%;
    width: 280px;
    height: 430px;
  }
  .hero-image-top-top {
    left: 27%;
    width: 300px;
    height: 410px;
    top: 15%;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .hero-heading {
    font-size: 30px;
    line-height: 33px;
  }

  .hero-button {
    margin-left: 0;
  }

  .services-image-left {
    height: 300px;
  }
  .services-image-left-two {
    height: 300px;
  }
  .services-image-right {
    height: 300px;
  }
  .form-row{
    margin-left: 20px !important;
    margin-right: 20px !important; 
  }
}
@media only screen and (max-width: 480px) {
  .image-container {
    width: 100%;
  }
  .hero-image-top {
    left: 6%;
    top: 19.8%;
    width: 280px;
    height: 400px;
  }
  .hero-image-top-top {
    left: 15%;
    width: 280px;
    height: 400px;
  }
  .quote-container {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .hero-heading {
    font-size: 28px;
  }
  .hero-text {
    font-size: 16px;
  }
  .hero-button {
    padding: 18px 50px 18px 50px;
  }
  .second,
  .third {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 30px;
    line-height: 35.6px;
  }
  .services-image-left {
    height: 250px;
  }
  .services-image-left-two {
    height: 250px;
  }
  .services-image-right {
    height: 250px;
  }
  .corousal-container {
    padding-left: 25px !important ;
    padding-right: 25px !important ;
  }
  .form-row{
    margin-left: 10px !important;
    margin-right: 10px !important; 
  }
}

// @media only screen and (max-width: 420px) {
//   .services-dis-right-header-two {
//     font-size: 21px;
//     font-weight: 500;
//   }
//   .services-dis-right-header {
//     font-size: 21px;
//     font-weight: 500;
//   }
//   .services-dis-left-header {
//     font-size: 21px;
//     font-weight: 500;
//   }
// }
